

body{
  width: 500px;
  height:200px;
  background-color: #e3f2fd;
}
.popup .title {
  position: absolute;
  width: 519px;
  height: 59px;
  top: 0;
  left: 0;
  background-color: #0d47a1;
}
.popup .status{
  position: absolute;
  width: 519px;
  height: 20px;
  top: 70px;
  font-size: 14px;
  white-space: nowrap;
  font-family: "Inter-Regular", Helvetica;
}
.popup .status.error{
  color: #ff0000;
}
.popup .text-wrapper {
  position: absolute;
  width: 306px;
  top: 7px;
  left: 8px;
  font-size: 21px;
  white-space: nowrap;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.popup .text-wrapper-2 {
  position: absolute;
  width: 150px;
  top: 33px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.popup .api_setting {
  top: 187px;
  width:249px;
  height: 30px;
  background-color: #1976d2;
  border-color: transparent;
  position: absolute;
  overflow: hidden;
  border: 1px solid;
}
.popup .api_setting.selected {
  background-color: #0b8678;
}

.popup .text-wrapper-3 {
  left: -5px;
  position: absolute;
  width: 249px;
  height: 30px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.popup .option_setting {
  width: 261px;
  height: 30px;
  top: 187px;
  left: 258px;
  background-color: #1976d2;
  border-color: #ffffff;
  position: absolute;
  overflow: hidden;
  border: 1px solid;
}

.popup .API {
  left: -3px;
  position: absolute;
  width: 268px;
  height: 29px;
  top: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.popup .component {
  position: absolute;
  width: 472px;
  height: 67px;
  top: 89px;
  left: 13px;
}

.popup .input {
  position: absolute;
  width: 472px;
  height: 45px;
  top: 22px;
  left: 0;
}

.popup .request_text {
  position: absolute;
  width: 345px;
  height: 45px;
  top: 0;
  left: 0;
  border-radius: 7px;
  border: 1px solid;
  border-color: #000000;
}

.popup .div-wrapper {
  width: 127px;
  height: 45px;
  top: 0;
  left: 359px;
  background-color: #1976d2;
  border-radius: 7px;
  border-color: transparent;
  position: absolute;
  overflow: hidden;
  border: 1px solid;
}

.popup .text-wrapper-4 {
  position: absolute;
  width: 140px;
  height: 55px;
  top: -7px;
  left: -6px;
  font-size: 30px;
  text-align: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.popup .overlap-group {
  position: absolute;
  width: 346px;
  height: 22px;
  top: 0;
  left: 0;
  
}



.popup .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-size: 14px;
  text-align: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}
.popup #text_check {
  display: flex;
  width: 125px;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 1;
  left: 0;
  background-color: #0b8678;
  border-radius: 8px 0px 0px 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
}

.popup #meaning_check {
  display: flex;
  width: 125px;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 0;
  left: 111px;
  background-color: #0b8678;
  border-radius: 8px 0px 0px 8px;
  border-color: #ffffff;
  position: absolute;
  overflow: hidden;
  border: 1px solid;
}

.popup #spell_check {
  display: flex;
  width: 125px;
  height: 22px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 0;
  left: 222px;
  background-color: #0b8678;
  border-radius: 8px;
  border-color: #ffffff;
  position: absolute;
  overflow: hidden;
  border: 1px solid;
}

.popup #text_check.selected,
.popup #meaning_check.selected,
.popup #spell_check.selected {
  background-color:#240B87;
}