

body{
  width: 500px;
  height:200px;
  background-color: #e3f2fd;
}
.popup .title {
  position: absolute;
  width: 519px;
  height: 59px;
  top:0px;
  left:0px;
  background-color: #0d47a1;
}

.popup .popup-title {
  position: absolute;
  width: 306px;
  top: 7px;
  left: 8px;
  font-size: 21px;
  font-family: "Inter-Regular", Helvetica;
  color: #ffffff;
}
.popup .popup-title-en {
  position: absolute;
  width: 150px;
  top: 33px;
  left: 8px;
  font-family: "Inter-Regular", Helvetica;
  color: #ffffff;
  font-size: 13px;
}
.popup .api-setting {
  position: absolute;
  width:257px;
  height: 30px;
  top: 187px;
  left:0px;
  background-color: #1976d2;
  border: 1px solid;
  cursor: pointer;
}

.popup .api-setting-text {
  position: absolute;
  width: 257px;
  height: 30px;
  top:4px;
  left: -3px;
  font-family: "Inter-Regular", Helvetica;
  color: #ffffff;
  font-size: 12px;
}
.popup .option-setting {
  position: absolute;
  width: 261px;
  height: 30px;
  top: 187px;
  left: 258px;
  background-color: #1976d2;
  border-color: #ffffff;
  border: 1px solid;
  cursor: pointer;
}
.popup .option-setting-text {
  position: absolute;
  width: 268px;
  height: 29px;
  top:4px;
  left: -3px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
}

.popup .component {
  position: absolute;
  width: 472px;
  height: 67px;
  top: 89px;
  left: 13px;
}

.popup .input {
  position: absolute;
  width: 472px;
  height: 45px;
  top: 22px;
  left: 0;
}

.popup .request-text {
  position: absolute;
  width: 345px;
  height: 45px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.popup .send-button {
  position:absolute;
  width: 127px;
  height: 49px;
  left: 359px;
  background-color: #1976d2;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}

.popup .send-button-text {
  position: absolute;
  width: 140px;
  height: 55px;
  top: -1px;
  right:-8px;
  font-size: 30px;
  font-family: "Inter-Regular", Helvetica;
  color: #ffffff;
}

.popup .order-text {
  position: relative;
  width: fit-content;
  top:-2px;
  font-size: 14px;
  text-align: center;
  font-family: "Inter-Regular", Helvetica;
  color: #ffffff;
}

.popup .text-check {
  position: absolute;
  width: 125px;
  height: 22px;
  background-color: #0b8678;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}

.popup .meaning-check {
  position: absolute;
  width: 125px;
  height: 22px;
  left: 111px;
  background-color: #0b8678;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}

.popup .spell-check {
  position: absolute;
  width: 125px;
  height: 22px;
  left: 222px;
  background-color: #0b8678;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}

.popup #text_check.selected,
.popup #meaning_check.selected,
.popup #spell_check.selected {
  background-color:#240B87;
}

.popup .status{
  position: absolute;
  width: 519px;
  height: 20px;
  top: 70px;
  font-size: 14px;
  font-family: "Inter-Regular", Helvetica;
}
.popup .status.error{
  color: #ff0000;
}