.API-setting {
    background-color: #e3f2fd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 519px;
    height: 257px;
    position: relative;
}

.API-setting .title {
    position: absolute;
    width: 519px;
    height: 59px;
    top: 0;
    left: 0;
    background-color: #0d47a1;
}
.API-setting .title-text {
    position: absolute;
    width: 306px;
    top: 7px;
    left: 8px;
    color: #ffffff;
    font-size: 21px;
    white-space: nowrap;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.API-setting .title-text-en {
    position: absolute;
    width: 150px;
    top: 33px;
    left: 8px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: normal;
}

.API-setting .back_button {
    position: absolute;
    width: 111px;
    height: 46px;
    top:-2px;
    left: 395px;
    margin-top: 8px;
    margin-left: auto;
    border-radius: 7px;
    border-color: transparent;
    background-color: #1976d2;
    overflow: hidden;
    border: 1px solid;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.API-setting .back-button-text {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 46px;
}
.API-setting .input-text {
    position: absolute;
    width: 390px;
    height: 43px;
    top: 109px;
    left: 65px;
    border: 1px solid;
    border-color: #000000;
}
.API-setting .store-result{
    display: flex;
    width: 54px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 159px;
    left: 298px;
}
.API-setting .test-result {
    display: flex;
    width: 54px;
    height: 38px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 202px;
    left: 298px;
}
.API-setting .result-text.true {
    display: block;
    width: fit-content;
    text-align: left;
    margin-left: 0;
    color: #0e8a25;
    font-size: 20px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
}
.API-setting .result-text.false {
    display: block;
    width: fit-content;
    text-align: left;
    margin-left: 0;
    color: #ff0000;
    font-size: 20px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
}

.API-setting .store-button {
    position: absolute;
    width: 94px;
    height: 37px;
    top: 160px;
    left: 199px;
}
.API-setting .store-button-label {
    position: relative;
    height: 36px;
    width: 94px;
    background-color: #1976d2;
    border-radius: 5.38px;
}
.API-setting .button-text {
    position: absolute;
    width: 94px;
    height: 36px;
    top: 4px;
    left: 0;
    color: #ffffff;
    font-size: 17.5px;
    text-align: center;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}
.API-setting .test-button {
    position: absolute;
    width: 94px;
    height: 37px;
    top: 204px;
    left: 199px;
}
.API-setting .test-button-label {
    position: relative;
    height: 36px;
    width: 94px;
    background-color: #1976d2;
    border-radius: 5.38px;
}


